@page "/book"


<div class="row mt-4">
	<div class="col-6">
		<h3 class="card-title text-primary">Books</h3>
	</div>
	<div class="col-5 offset-1">
		<a href="/book/create" class="btn btn-primary form-control">Add new book</a>
	</div>
</div>

@code {

}
