@page "/"

<PageTitle>Awesome Library App</PageTitle>

<h1>Awesome Library App</h1>

<ChooseButton Title="Member" Page="/member"></ChooseButton>

<ChooseButton Title="Librarian" Page="/librarian"></ChooseButton>

