@page "/librarian"

@inject IBookRepository _bookRepository
@inject IJSRuntime _jsRuntime

<div class="row mt-4">
	<div class="col-6">
		<h3 class="card-title text-primary">Books List</h3>
	</div>
	<div class="col-12">
		@if (Books.Any())
		{
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Title</th>
						<th>Author</th>
						<th>Publisher</th>
						<th>Publish Year</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var Book in Books)
					{
						<tr>
							<td>
								@Book.Title
							</td>
							<td>
								@Book.Author
							</td>
							<td>
								@Book.Publisher
							</td>
							<td>
								@Book.PublishYear
							</td>
						</tr>
					}
				</tbody>
			</table>
		}
		else
		{
			if (isLoading)
			{
				// Loading
				<div class="text-center">
					<img src="/images/spinner-blue.gif">	
				</div>
			}
			else
			{
				// No records in the DB
				<p>No records found in the database.</p>
			}
		}
	</div>
</div>

@code {
	private IEnumerable<BookDto> Books { get; set; } = new List<BookDto>();
	public bool isLoading = true;

	protected override async Task OnInitializedAsync()
	{
		await Task.Run(LoadBooks);
	}

	private void LoadBooks()
	{
		Books = _bookRepository.GetAll();
		isLoading = false;
	}
}
